body {
    color: white;
    font-family:"Contrail One", sans-serif;
    text-transform: uppercase;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-image: url("../img/nasa-43563.jpg");
    background-size: cover;
    width: 100%;
}

#welcome {
    text-align: center;
    font-size: 50px;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 0;
}

.currentTemp {
    display: block;
    margin: 0;
    text-align: center;
    font-size: 40px;
    padding-bottom: 50px;
}

.currentTemp p {
    display: inline-block;
    border-bottom: 2px solid #FFF;
    margin: 20px;
    width: max-content;
}

.degree {
    display: none;
}

#converterMessage {
    text-align: center;
    font-size: 20px;
}

#clickButton {
    text-align: center;
    font-size: 10px;
    margin-bottom: 20px;
    font-size: 15px;
}

#converterPage {
    background-color: rgba(255, 255, 255, 0.2);
}

a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}
